body{
  font-family: sans-serif;
}

h2{
  font-size: 20px;
  font-weight: bolder;
}

p{
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}

header{
  background: url("../img/nasa-background.jpg");
  background-size: cover;
  height: 450px;
  width: 850px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 100px;
  font-weight: bolder;
}

.container{
  width: 850px;
  margin: 20px auto;
  background-color: #E6E6E6;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row;
}

.content{
  width: 270px;
  margin: 20px;
  padding: 10px;
}

input{
  width: 100%;
  height: 25px;
}

textarea{
  width:100%;
  border: 0.1px solid #c9c9c9;
}

button{
  width: 50%;
  height: auto;
  background-color: #474747;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
  text-align: center;
}
