

body {
  background-image: url("../images/tryagain.png");
  font-family: "Montserrat", "Helvetica", sans-serif;
  color: #353535
}

header {
  background-color: #50d4c3;
  margin: auto;
  max-width: 960px;
  box-shadow: 0px 0px 10px #C0C0C0;
  padding: 5px;
  text-align: center;
  color: white;
  font-family: Arvo, serif;
  font-size: 60px;
  font-weight: bold;
  margin-top: 40px;
}

nav {
    color: #eee;
    text-align: center;
    margin: auto;
    background-color: #4261ff;
    max-width: 960px;
    padding: 5px;
    box-shadow: 0px 0px 10px #C0C0C0;
    margin-bottom: 20px;
    overflow: hidden;
}

.nav {
  color: white;
  border: 2px solid white;
  width: auto;
  margin: 10px;
  height: 21px;
  float: left;
  padding: 12px;
}

.nav:hover {
  color: #4261ff;
  background-color: white;
  border: 2px solid white;
  width: auto;
  margin: 10px;
  height: 21px;
  float: left;
  padding: 12px;
}

h1{
  font-family: Arvo, serif;
  font-weight: bolder;
  font-size: 35px;
  margin: 0px;
}

h2{
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

.center {
  max-width: 960px;
  margin: auto;
}

section {
  margin: auto;
  padding: 0px;
}

.content {
  width: 80%;
  margin: auto;
  float: left;
}

.tall-pic{
  float: right;
}

aside {
  width: 18%;
  float: left;
  background-color: orange;
  margin: auto;
  margin-top: 20px;
  border: 2px solid black;
}

article {
  width: 90%;
  background-color: white;
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #C0C0C0;
  overflow: hidden;
}
