body{
  max-width: 980px;
  margin: 0 auto;
  font-family: "Gothic A1", sans-serif;
}

h1{
  font-size: 28px;
  margin: 10px 0px 10px 0px;
}

h2{
  font-size: 20px;
  font-weight: bolder;
  margin: 10px 0px 10px 0px;
}

p{
  margin: 10px 0px 10px 0px;
}

main{
  width: 100%;
  background-color: red;
}

section{
  width: 65%;
  margin: 2%;
  float: left;
}

aside{
  width: 25%;
  margin: 2%;
  float: left;
}

img{
  width: 100%;
}

a{
text-decoration: none;
color: #4B4B4B;
}

button{
  color: white;
  background-color: #4B4B4B;
  height: 35px;
  display: flex;
}
